@charset "UTF-8"

article, aside, footer, header, main ,nav, section {
	display: block;
}
h1, h2, h3, h4, h5, ul, li, a, p, aside {
	padding: 0;
	margin: 0;
}

.banner {
	width: 1400px;
	padding: 20px;
	height: 60px;
	margin: 0;
	background-color: #321414;
	font-family: fantasy;
}

.banner h1 {
	color: white;
	position: relative; left: 115px;
}

.banner h3 {
	color: white;
	position: relative; left: 115px;
}
.uwLogo img {
	position: absolute; top: 20px; left: 1250px;
	height: 89.65px;
	width: 130px;
}
.tbpLogo img {
	position: absolute; top: 10px; left: 10px;
	height: 120px;
	width: 120px;
}

body {
	width: 1400px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: white;
	padding: 0px;
}

.text {
	padding: 20px;
}

.nav {
	height: 40px;
	width: 1440px;
	font-size: 20px;
	margin-left: 0;
	margin-right: auto;
	background-color: #321414;
}

.nav ul li {
	list-style: none;
}

.nav ul li a{
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 10px;
	color: white;
	font-family: fantasy;
	position: relative; left: 115px;
}
.nav ul li a:hover{ 
	color: darkviolet;
	text-decoration: underline;
}


.officers {
	width: 1100px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
}

.officerContent{
	height: 500px;
	width: 1100px;
	margin-left:0;
	border-style: solid;
}

.officerContent p{
	height: 400px;
	width: 300px;
	padding: 30px;
	border-style: solid;
	border-color: red;
}

.aboutUsContent{
	padding: 30px;
}

footer {
	position: fixed; top: 730px; left: 10px;
}

.contact {
	position: fixed; top: 670px; left: 10px;
}

aside {
	float: right;
}